.blog-post {
    /* border: 1px solid #ccc; */
    border-radius: 4px;
    padding: 20px;
    cursor: pointer;
    /* background-color: #f5f5f5; */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

  }
  
  .blog-post-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 4px;
    /* box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); */

  }
  
  .blog-post-info {
    margin-top: 10px;
  }
  
  .blog-post-title {
    font-size: 18px;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .blog-post-content {
    font-size: 14px;
    color: #ffffff;
    height: 70px;
    overflow: hidden;
    /* box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); */

  }
  
  .blog-post-details {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    color: #888;
  }
  
  .blog-post-link {
    text-decoration: none;
    color: inherit;
  }

  .post{
    list-style: none;
    text-decoration: none;
    color: white;
  }

  .load-more-button{
    background-color: transparent;
    width: 13%;
    border-radius: 2rem;
    border: 1px solid white;
    text-align: center;

    padding: 2px;
    color: white;
    height: 48px;
    position: relative;
    /* left: 20rem;
    top: 0rem; */
  }
  
  /* Add your additional styling for each blog post here if needed */

  

.blog-post.loading {
  opacity: 0.5; /* Dim the content during loading */
  pointer-events: none; /* Disable interactions during loading */
}

.blog-post-skeleton {
  display: flex;
  align-items: center;
}

.skeleton-image {
  width: 150px;
  height: 150px;
  background-color: #e0e0e0;
  margin-right: 20px;
}

.skeleton-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.skeleton-title {
  width: 70%;
  height: 20px;
  background-color: #e0e0e0;
}

.skeleton-content {
  width: 100%;
  height: 60px;
  background-color: #e0e0e0;
}

.skeleton-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}

.skeleton-author {
  width: 40%;
  height: 15px;
  background-color: #e0e0e0;
}

.skeleton-date {
  width: 30%;
  height: 15px;
  background-color: #e0e0e0;
}
  