.contactus{
    background-color: black;
    height: 50vh;
    width: 100%;
    overflow: hidden;
    font-family: 'Bacasime Antique', serif;

}

.contactus-span{
    font-style: italic;
    font-size: 50px;
    color: white;

}

.contactus-container{
    text-align: left;
    position: relative;
    left: 8rem;
    top: 6rem;
    display: flex;
    flex-direction: row;
    
}

.contactus-container h4{
    color: white;
    font-size:30px;
}

.contactus-btn{
    background-color: transparent;
    width: 13%;
    border-radius: 2rem;
    border: 1px solid white;
    text-align: center;

    padding: 3px;
    color: white;
    height: 48px;
    position: relative;
    left: 20rem;
    top: 2rem;
    
}

.button-text-style{
    background-color: transparent;
    transition: all .3s ease-in-out;
    cursor: pointer;
    color: white;
    border: none;
    font-size: 18px;
    margin-top: 0.8rem;
}


@media (max-width: 768px) {
    .contactus-container{
        text-align: left;
        position: relative;
        left: 2rem;
        top: 6rem;
        display: flex;
        flex-direction: column;
        
    }

    .contactus-span{
        font-style: italic;
        font-size: 35px;    
    }

    .contactus-container h4{
        color: white;
        font-size:25px;
    }
    
    .contactus-btn{
        background-color: transparent;
        width: 30%;
        border-radius: 2rem;
        border: 1px solid white;
        text-align: center;
        padding: 11px;
        color: white;
        height: 48px;
        position: relative;
        left: 0.5rem;
        top: 2rem;
        
    }
}
