.Footer {
    font-family: 'Bacasime Antique', serif;
    background-color: black;
    height: 30vh;
    width: 100%;
    color: white;
}

.footer-nav ul {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    gap: 7rem;
    text-align: center;
    justify-content: center;
    font-size: 17px;
    padding-top: 2rem;
}

.footer-hr{
    width: 85%;
    position: relative;
    top: 2rem;
    left: 6rem;
}


/* mobile version  */

@media (max-width: 768px) {
    .footer-nav ul {
    display: none;
    /* flex-direction: row; */
    /* justify-content: space-between; */
    gap: 2rem;
    text-align: center;
    justify-content: center;
    font-size: 12px;
    padding-top: 2rem;

}

.Footer {
    font-family: 'Bacasime Antique', serif;
    background-color: black;
    height: 15vh;
    width: 100%;
    color: white;
}

.footer-hr{
    width: 85%;
    position: relative;
    top: 2rem;
    left: 1.6rem;
}

}